header{
    display: flex;
    align-items: center;
    padding: 23px 85px;
}

.header-logo{
    display: flex;
    gap: 8px;
    align-items: center;
}

.header-login{
    margin-left: 108px;
    display: flex;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    font-family: 'Noto Sans';
    text-decoration: underline;
    color: #FFFFFF;
    gap: 14px;
    cursor: pointer;
    transition: .4s;
}

.header-login:hover{
    opacity: .6;
}

@media screen and (max-width:1100px){

    header{
        justify-content: space-between;
        padding: 40px 15px;
    }

    .header-logo img:first-child{
        width: 52px;
    }

    .header-logo img:last-child{
        width: 46px;
    }

    .header-login{
        padding-bottom: 6px;
        border-bottom: 1px solid #FFFFFF;
        font-size: 14px;
        line-height: 19px;
        text-decoration: none;
        margin-left: 0;
    }

    .header-login svg{
        display: none;
    }

}
