header{
    display: flex;
    align-items: center;
    padding: 23px 85px;
}

.header-logo{
    display: flex;
    gap: 8px;
    align-items: center;
}

.header-login{
    margin-left: 108px;
    display: flex;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    font-family: 'Noto Sans';
    text-decoration: underline;
    color: #FFFFFF;
    gap: 14px;
    cursor: pointer;
    transition: .4s;
}

.header-login:hover{
    opacity: .6;
}


