.presentation{
    padding: 0 10px 0 100px;
    margin-top: 50px;
    display: flex;
    gap: 180px;
    overflow-x: clip;
}

.presentation-left{
    display: flex;
    gap: 129px;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    position: relative;
    margin: auto 0;
}

.presentation-left__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
}

.presentation-left__description{
    max-width: 380px;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.presentation-left__glowstick{
    position: absolute;
    width: 125px;
    height: 125px;
    bottom: 28px;
    left: 0;
    z-index: -1;
}

.presentation-left__glowstick-background{
    background: rgba(96, 92, 234, 0.5);
    filter: blur(50px);
    width: 100%;
    height: 100%;
}

.presentation-left__glowstick::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-bottom: 4px solid #fff;
    position: absolute;
    top: 30px;
    transform: rotate(120deg);
    transform-origin: left;
    left: 100px;
}

.presentation-right{
    position: relative;
}

.presentation-right img{
    border-radius: 50px;
}

.presentation-right::after{
    content: "";
    background: rgba(250, 0, 255, 0.2);
    filter: blur(125px);
    transform: rotate(-105.26deg);
    width: 660px;
    height: 780px;
    position: absolute;
    z-index: -1;
    left: -130px;
    top: -257px;
}

@media screen and (max-width:1100px){

    .presentation{
        padding: 0 10px;
        gap: initial;
        justify-content: space-between;
    }

    .presentation-right{
        width: 175px;
    }

    .presentation-right img{
        position: absolute;
        left: -30px;
    }

}

@media screen and (max-width:900px){

    .presentation-left{
        gap: 30px;
        align-items: initial;
    }

    .presentation-left__title{
        font-size: 35px;
        line-height: 40px;
    }

    .presentation-left__description{
        font-size: 16px;
        line-height: 22px;
    }

    .presentation-left__glowstick{
        bottom: -20px;
        left: -50px;
    }
    
    .presentation-left__glowstick::after{
        display: none;
    }

    .presentation-right img{
        width: 161px;
        border-radius: 25px;
        left: 0;
    }

    .presentation-right::after{
        width: 360px;
        height: 430px;
        background: rgba(250, 0, 255, 0.5);
        left: -230px;
        top: -115px;
    }

}


@media screen and (max-width:550px){

    .presentation-right{
        width: 123px;
    }

}
