.qrcode{
    position: relative;
    background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%);
    height: 682px;
    width: 100%;
    margin-top: 230px;
    display: flex;
}

.qrcode-background-left{
    background-image: url(/source/image/qrcodeBackgroundLeft.png);
    background-repeat: no-repeat;
    width: 811px;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
}

.qrcode-background-right{
    background-image: url(/source/image/qrcodeBackgroundRight.png);
    background-repeat: no-repeat;
    width: 733px;
    height: 100%;
    position: absolute;
    z-index: -1;
    right: 0;
    background-position: right;
}

.qrcode-nightlite{
    right: 100px;
    position: absolute;
}

.qrcode-container{
    margin-top: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.qrcode-container__information{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 60px;
}

.qrcode-container__information-title{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: 700;
    font-size: 51px;
    line-height: 62px;
    color: #FFFFFF;
    max-width: 315px;
    margin: 80% auto 0 auto;
}

.qrcode-container__information-title span{
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.qrcode-container__information-app{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.qrcode-container__phone{
    display: flex;
    gap: 80px;
    margin-top: 225px;
}

.qrcode-container__phone img:first-child{
    margin-bottom: 30%;
}

.qrcode-container__phone img:last-child{
    margin-top: 30%;
}

@media screen and (max-width:1200px){

    .qrcode-container__phone img{
        width: 281px;
    }

    .qrcode-container__phone{
        gap: 20px;
    }
    
}

@media screen and (max-width:1000px) {

    .qrcode{
        overflow-x: clip;
        height: auto;
    }

    .qrcode-background-left{
        background-image: url(/source/image/qrcodeBackgroundLeftMobile.png);
        height: 335px;
        background-size: cover;
        width: 100%;
        background-position: center;
    }

    .qrcode-background-right{
        background-image: url(/source/image/qrcodeBackgroundRightMobile.png);
        height: 300px;
        background-size: cover;
        width: 94%;
        background-position: right;
        top: 575px;
        right: -43px;
        bottom: unset;
    }

    .qrcode-container__information{
        padding: 0 15px;
    }

    .qrcode-container__information-title{
        margin: 0;
    }

    .qrcode-container__information-title{
        font-size: 24px;
        line-height: 29px;
    }

    .qrcode-container__information-title span{
        font-size: 16px;
        line-height: 22px;
    }
    
    .qrcode-nightlite{
        bottom: unset;
        top: 725px;
        width: 88.46px;
        height: 34.62px;
        right: unset;
        left: 33px;
    }

    .qrcode-container{
        flex-direction: column;
        gap: 240px;
        margin-top: 240px;
    }

    .qrcode-container__phone{
        flex-direction: column;
        margin-top: 60px;
        gap: 50px;
        align-items: center
    }

    .qrcode-container__phone img:last-child,
    .qrcode-container__phone img:first-child{
        margin: 0;
    }

}

@media screen and (max-width:500px){

    .qrcode-container__information-app{
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .qrcode-container__information-app img{
        width: 185px;
        height: 60px;
    }
    
}
